<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morsemycode.jonathan.morsecodetranslator" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/morse_my_code_logo"
        android:label="Morse My Code"
        android:roundIcon="@mipmap/morse_my_code_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>